@tailwind base;
@tailwind components;
@tailwind utilities;


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.wave-top {
  clip-path: polygon(
    0% 0%,
    10% 5%,
    25% 20%,
    50% 35%,
    75% 20%,
    90% 5%,
    100% 0%,
    100% 100%,
    0% 100%
  );
}







